{% extends 'base.html.twig' %}

{% block title %}My Projects{% endblock %}

{% block body %}
    <h1>My Projects</h1>

    {% if projects|length > 0 %}
        <ul>
            {% for project in projects %}
                <li><a href="{{ path('app_project_sources', {'id': project.id}) }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects found.</p>
    {% endif %}

    <a href="{{ path('app_projects_create') }}" class="btn btn-primary">Create a new project</a>
{% endblock %}